
//font definitions

@font-face {
  font-family: "Roboto";
  src: url("media/fonts/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "JimNightshade";
  src: url("media/fonts/JimNightshade-Regular.ttf");
  font-weight: normal;
}
