
@import "variables";

a, a:visited {
  display: inline-block;
  user-select: none;
  line-height: 2;
  color: $fD;
  background: $bS;
  padding: 0.25rem 1rem;
  margin: 1rem 0;
	border: 1px solid $fD;
  box-shadow: 1px 1px 0.25rem $shD;
  transition: all 0.1s ease-out;
}

a:hover {
  text-decoration: none;
  color: $fD;
  position: relative;
  z-index: 5;
  box-shadow: 2px 2px 0.5rem $shD;
}

a:active {
  background-color: $b;
  background-image: none;
  transition: all 0.1s ease-out;
}

button {
	color: $fD;
	background-color: $bS;
	border-color: $b;
	transition: all 0.1s ease-out;
	box-shadow: none;
	&:hover {
		background-color: $b;
		border-color: $fD;
	}
	margin: 0.125rem;

	&.button-material-icon {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		div {
			padding-top: 0.1rem;
			line-height: 0;
		}
	}

	&:disabled {
		background-color: $bD;
		border-color: transparent;
		&:hover {
			border-color: transparent;
		}
	}
}


#ui-dialog-body.settings button[id|=setting-control] {
	background-color: $bS;
	color: $fD;
	border-color: $b;

	&:hover {
		background-color: $b;
		border-color: $bD;
	}

	&.enabled {
		background-color: $bS;
		color: $aS;
		border-color: $aSD;

		&:hover {
			background-color: $b;
			border-color: $aS;
		}
	}
}
